.corpo-form{
    background-color: #eee;
    width: 100%;
    height: 100%;
    padding: 10px;
}

h1{
    text-align: center;
}

.form{
    width: 60%;
    height: 80%;
    border: solid 1px #000;
    margin: 10px;
}

.botoes{
    float: right;
    padding: 10px;
}

h3{
    text-align: center;
    padding: 10px;
}